<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Router</title>
</head>

<body>
  <main id="app">
    <h1>Vue Router</h1>
    <h2>Rutas Dinámicas</h2>
    <a href="../#rutas">regresar</a>

    <router-link to="/">Home</router-link>
    <router-link to="/acerca">Acerca</router-link>
    <router-link to="/contacto">Contacto</router-link>
    <router-link to="/cursos">Cursos</router-link>
    <router-link to="/cursos/vue">Cursos Vue.js</router-link>
    <router-link to="/cursos?id=vue">Cursos Vue.js</router-link>
    <hr>
    <router-view></router-view>
    <pre>
      {{ JSON.stringify($route, null, 2) }}
    </pre>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script>
    const Home = { template: '<h2>Home</h2>' }

    const About = { template: '<h2>Acerca</h2>' }

    const Contact = { template: '<h2>Contacto</h2>' }

    const Courses = {
      template: 
      `
      <div>
        <h2>Cursos</h2>
        <h3 v-if="$route.params.id"> Params:Curso {{ $route.params.id }} </h3>
        <h3 v-if="$route.query.id"> Query:Curso {{ $route.query.id }} </h3>
      </div>
      `
    }

    const Error404 = { template: '<h2>Error 404</h2>' }

    const routes = [
      { path: '/', component: Home },
      { path: '/acerca', component: About },
      { path: '/contacto', component: Contact },
      { path: '/cursos', component: Courses },
      { path: '/cursos/:id', component: Courses },

      { path: '*', component: Error404 }
    ]

    const router = new VueRouter({ routes })

    new Vue({
      router,
      el: '#app'
    })

  </script>
</body>

</html>
